extends layouts/main

block content
    .form-container
        form(action=`/videos${routes.edit_video}`, method="post")
            input(type="text",placeholder="Title", name="title")
            textarea(name="description", placeholder="Description")
            input(type="submit" value="Upload Video")
        a.form-container_link.form-container_link--delete(href=`/videos${routes.delete_video}`) Delete Video

